<div class="add-client inner-content position-relative mt-3 p-lg-4 p-2 mb-5 bg-white ">
    <form [formGroup]="countryForm" (ngSubmit)=" onSubmit()">
        <div class="bordered-shadow mb-4 ">
            <p *ngIf="myaction=='create'" class="font-weight-bold py-4 ">
                Add New Country
            </p>
            <p *ngIf="myaction=='edit'" class="font-weight-bold py-4 ">
                Edit Country
            </p>
            <div class="row m-0 py-xl-4 p-2 px-xl-5">

                <!-- <div class="col-lg-4 mb-2 mb-lg-3">
                    <div class="form-group mb-0">
                        <input type="text" class="form-control" name="Id" placeholder=" " ngModel [(ngModel)]="Id" required #IdControl="ngModel">
                        <label class="float-label ">Country Id</label>
                    </div>
                       
                    <div *ngIf="IdControl.invalid  && countryForm.submitted"
    class="alert alert-danger">

  <div *ngIf="IdControl.errors.required">
    Country Id is required.
  </div>
  
                </div>
                </div> -->

                <div class="col-lg-4 mb-2 mb-lg-3">
                    <div class="form-group mb-0">
                        <input type="text" class="form-control" name="name" placeholder=" " formControlName="countryNameEn">
                        <label class="float-label ">Country name</label>
                    </div>

                    <div *ngIf="f.countryNameEn?.errors  && (f.countryNameEn?.touched||submitted)" class="alert alert-danger">

                        <div *ngIf="f.countryNameEn?.errors?.required">
                            Name is required.
                        </div>

                    </div>
                </div>

                <div class="col-lg-4 mb-2 mb-lg-3">
                    <div class="form-group mb-0">
                        <input type="number" class="form-control"  placeholder=" " formControlName="mobileNumberLength">
                        <label class="float-label ">Mobile number length</label>
                    </div>

                    <div *ngIf="f.mobileNumberLength?.errors  && (f.mobileNumberLength?.touched||submitted)" class="alert alert-danger">

                        <div *ngIf="f.mobileNumberLength?.errors?.required">
                            Mobile number length is required.
                        </div>
                        <div *ngIf="f.mobileNumberLength?.invalid">
                            MaxiMum Mobile length number is 99 .
                        </div>
                        

                    </div>
                </div>



                <div class="col-lg-4 mb-2 mb-lg-3 d-flex align-items-center">
                    Status(Active)
                    <label class="switch m-0 ml-3">
                        <input type="checkbox" checked formControlName="isActive">
                        <span class="slider round"></span>
                    </label>
                </div>
            </div>
        </div>


        <div class="row m-0 justify-content-end">

            <button class="btn form-control btn-primary btn-bordered col-lg-2 col-6 font-weight-bold mr-lg-3 "
                type="button" (click)="backToList()">Cancel</button>
           
                <div  style="display: contents;" form-submit-btn [btnLable]="'Save'"
                [isLoading]="submitted "
                >
              </div>   
        </div>
    </form>

</div>