<div class="add-client inner-content position-relative mt-3 p-lg-4 p-2 mb-5 bg-white ">
    <form #roleForm ="ngForm" (ngSubmit) ="roleForm.form.valid && onSubmit(roleForm)" >
        <div class="bordered-shadow mb-4 ">
            <p class="font-weight-bold py-4 ">
                USER DETAILS
            </p>
            <div class="row m-0 py-xl-4 p-2 px-xl-5">
               
                <div class="col-lg-4 mb-2 mb-lg-3">
                    <div class="form-group mb-0">
                        <input type="text" class="form-control" name="userId" placeholder=" " ngModel required #nameControl="ngModel" disabled>
                        <label class="float-label ">USER ID</label>
                    </div>
                 
                </div>
                <div class="col-lg-4 mb-2 mb-lg-3">
                    <div class="form-group mb-0">
                        <input type="text" class="form-control" name="userName" placeholder=" " ngModel required #userNameControl="ngModel" disabled>
                        <label class="float-label ">USER NAME
                        </label>
                    </div>
                       
                   
                </div>
           
              
              
              
              
            
                </div>
            </div>
            <div class="bordered-shadow mb-4 ">
                <p class="font-weight-bold py-4 ">
                    USER PERMISSIONS
                </p>
                <div class="row m-0 py-xl-4 p-2 px-xl-5">
                    <div class="col-lg-12 mb-2 mb-lg-3">
                
                        <!-- <ejs-maskedtextbox #maskObj id="search" placeholder="Search" (change)="searchNodes()" [cssClass]='cssClass'></ejs-maskedtextbox> -->
                        <div id='treeparent' *ngIf="vm.field">
                            <ejs-treeview #treeview id='treeelement' [fields]='vm.field' [showCheckBox]='showCheckBox' (nodeChecked)='nodeChecked($event)'></ejs-treeview>
                        </div>
                    </div>
                </div>
            </div>
       
        <div class="row m-0 justify-content-end">
           
            <button
                class="btn form-control btn-primary btn-bordered col-lg-2 col-6 font-weight-bold mr-lg-3 "
                type="button" (click)="backToList()">Cancel</button>
            <button class="btn form-control btn-primary col-lg-2 col-6 font-weight-bold"
                type="submit">Save</button>
        </div>
    </form>

</div>
