 <!-- sidebar -->

    <img src="assets/logo-smart-technology.png" alt="" class="w-100 d-block py-4 mx-auto logo-admin">
    <div class="separator mx-auto"></div>

   

    <a class="active" data-toggle="collapse" href="#collapse1" role="button" aria-expanded="false" aria-controls="collapse1">
        <img src="assets/clients.svg" alt="" class="svg">
        Clients
        <i class="icon-down-arrow position-absolute"></i>
    </a>
    <div class="collapse" id="collapse1">
        <a routerLink="/admin/client-list">
            Clients
        </a>
    </div>
