<!DOCTYPE html>
<html lang="en" class="d-flex justify-content-center w-100 h-100">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />

    <title>IdentityServer4</title>

    <link rel="icon" type="image/x-icon" href="~/favicon.ico" />
    <link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico" />

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/style.css" />

</head>
<body class="d-flex  w-100 h-100">
    @*<partial name="_Nav" />*@

    <div class="container" id="login">
        @RenderBody()
    </div>
    <!-- copyrights -->

    <script src="~/lib/jquery/dist/jquery.slim.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    @RenderSection("scripts", required: false)
    <p class="copyrights position-fixed text-center w-100">
        © Laboratory Data Manager 2020. All Rights Reserved.
        <br>
        Developed and designed by National Technology
    </p>
</body>
</html>
